html, body, #mapContainer, .container, #sidebar, #floatingBackground {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container-fluid {
  background: #985356;
  margin: 0;
}

#navbar {
  padding: 0;
  margin: 0;
}

.modal-title {
  font-family: 'Ubuntu', sans-serif;
}

.main-container {
  flex-grow: 1;
  flex-shrink: 1;
   display: flex;
   width: 100%;
   overflow-y: hidden;
}

#sidebar {
  width: 350px;
  padding: 10px;
  padding-top: 20px;
  overflow-y: scroll;
}

h1 {
  font-size: 32px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 22px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1;
}

h3 {
  font-size: 18px;
}

#subtitle, #subtitle2 {
  position:relative;
  text-align: center;
}
#subtitle:before {
  content:"";
  background-color:#e4acac;
  width:100%;
  height:1em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.25em;
  top:0.1em;
  padding:0 0.25em;
}

#subtitle2:before {
  content:"";
  background-color:#e4acac;
  width:100%;
  height:1em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  top:0.1em;
  padding:0 0.25em;
}

#hviHighlight {
  background-color: #e4acac;
}

#raceHighlight {
  background-color: #b0d5df;
}

.fa-info-circle {
  padding-left: 3px;
  color: black;
}

#mapContainer {
  flex-grow: 1;
}

#callToAction {
  height: 170px;
  text-align: justify;
  padding-top: 20px;
}

#legend {
  font-size: 12px;
  text-align: center;
}

#legendpng {
  height: 300px;
}

#hviInfo, #raceInfo {
  font-size: 14px;
}

#hviInfoHighlight {
  background-color: #e4acac;
}

#raceInfoHighlight {
  background-color: #b0d5df;
}

#heatStressChart {
  width: 100%;
}

#imageCaption {
  font-size: 12px;
  text-align: center;
}

#hviLowScore {
  background-color: #d1d1d1;
}

#hviHighScore {
  background-color: #c85a5a;
}
